In [1]:
# Tuple Set

In [2]:
# Tuple
# () int float string list
# 한번 만들면 수정은 할수없다.

In [3]:
a = (100, 200, '찬근', '태희')

In [4]:
print(a)

(100, 200, '찬근', '태희')

In [5]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [6]:
b = [100, 200, 300]

In [7]:
dir(b)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [8]:
a.count()

TypeError: count() takes exactly one argument (0 given)

In [9]:
a.count(100)

1

In [10]:
c = (1, 2, 3, 1, 2, 4, 5, 6, 4, 2)

In [11]:
c.count(1)

2

In [12]:
c.count(2)

3

In [13]:
c.index(2)

1

In [14]:
jisan = ('욱희', '창도', '찬근', '태희')

In [15]:
jisan + '버러지'

TypeError: can only concatenate tuple (not "str") to tuple

In [16]:
lst = ['욱희', '창도', '찬근', '태희']

In [17]:
lst + '개' + '소'

TypeError: can only concatenate list (not "str") to list

In [18]:
lst + '개'

TypeError: can only concatenate list (not "str") to list

In [19]:
lst.append('개')

In [20]:
print(lst)

['욱희', '창도', '찬근', '태희', '개']

In [21]:
# Set 집합

In [22]:
s = {1, 2, 3, 4, 5, 2, 3, 6}

In [23]:
print(s)

{1, 2, 3, 4, 5, 6}

In [24]:
A = {1, 2, 3, 4, 5}
B = {3, 4, 5, 6, 7}

In [25]:
A.union(B) # 합집합

{1, 2, 3, 4, 5, 6, 7}

In [26]:
A.intersection(B) # 교집합

{3, 4, 5}

In [27]:
A.difference(B) # 차집합

{1, 2}

In [28]:
# 변환 list-tuple-set

In [29]:
jisan_1 = list(jisan)

In [30]:
print(jisan_1)

['욱희', '창도', '찬근', '태희']

In [31]:
jisan_1.remove('창도')

In [32]:
print(jisan_1)

['욱희', '찬근', '태희']

In [33]:
jisan = tuple(jisan_1)

In [34]:
print(jisan)

('욱희', '찬근', '태희')

In [35]:
print(jisan_1)

['욱희', '찬근', '태희']

In [36]:
jisan_1.append('찬근')

In [37]:
print(jisan_1)

['욱희', '찬근', '태희', '찬근']

In [38]:
jisan_2 = set(jisan_1)

In [39]:
print(jisan_2)

{'찬근', '욱희', '태희'}